[user]
    name = Javier Santacruz
    email = javier.santacruz.lc@gmail.com
    signkey = 4AFF623E
    signingkey = 4AFF623E

[core]
    excludesfile = ~/.gitignore-global
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    line-numbers = true
    navigate = true

[merge]
    # zdiff3 keeps the common lines out of the conflict markers.
    conflictStyle = zdiff3

[diff]
    colorMoved = default

[color]
    ui = true

[alias]
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lt = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

[push]
    default = simple

[rerere]
    enabled = true
